[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-rest-api = "*"
marshmallow-mongoengine = {editable = true,git = "https://github.com/MongoEngine/marshmallow-mongoengine"}
blinker = "*"
flask-jwt-extended = "*"
spacy = "~=2.1"
celery = "*"
flower = "*"
meinheld = "*"
gunicorn = "*"
marshmallow-enum = "*"
newsapi-python = "*"

[dev-packages]
faker = "*"
hupper = "*"
python-dotenv = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.7"

[scripts]
setup = "flask setup --drop"
dev-setup = "flask dev-setup --drop"
worker = "celery worker -A nerd:celery -l info -E --pool solo -n cli -Q nerd,vCURRENT,broadcast_tasks"
ping = "flask worker ping"
nlp = "flask worker nlp"
flower = "celery flower -A nerd:celery"
serve = "flask run"
train = "flask worker train"
