[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.1"
blinker = "==1.4"
flask-jwt-extended = "==3.23.0"
spacy = "==2.1"
celery = "==5.2.2"
flower = "==0.9.3"
meinheld = "==1.0.1"
gunicorn = "==19.9.0"
marshmallow-enum = "==1.5.1"
newsapi-python = "==0.2.5"
flask-smorest = "==0.18.0"
marshmallow-mongoengine = {ref = "marshmallow-v3", git = "https://github.com/qcho/marshmallow-mongoengine"}

[dev-packages]
faker = "==2.0.2"
hupper = "==1.8.1"
python-dotenv = "==0.10.3"
pytest = "==5.2.0"
pytest-cov = "==2.7.1"
pylint = "==2.4.2"
autopep8 = "==1.4.4"

[requires]
python_version = "3.7"

[scripts]
setup = "flask setup --drop"
dev-setup = "flask dev-setup --drop"
worker = "celery worker -A nerd:celery -l info -E --pool solo -n cli -Q nerd,nerd_broadcast,vCURRENT"
ping = "flask worker ping"
nlp = "flask worker nlp"
flower = "celery flower -A nerd:celery"
serve = "flask run"
train = "flask worker train"
